$# This file is part of Vervis.
$#
$# Written in 2016, 2019, 2022, 2023 by fr33domlover <fr33domlover@riseup.net>.
$#
$# ♡ Copying is an act of love. Please copy, reuse and share.
$#
$# The author(s) have dedicated all copyright and related and neighboring
$# rights to this software to the public domain worldwide. This software is
$# distributed without any warranty.
$#
$# You should have received a copy of the CC0 Public Domain Dedication along
$# with this software. If not, see
$# <http://creativecommons.org/publicdomain/zero/1.0/>.

^{projectNavW (Entity projectID project) actor}

<h2>Components

<table>
  <tr>
    <th>Role
    <th>Component
    <th>Since
  $forall (comp, role, since) <- comps
    <tr>
      <td>#{show role}
      <td>^{componentLinkFedW comp}
      <td>#{showDate since}
$#    <td>^{buttonW POST "Remove" (ProjectRemoveR projectHash ctID)}

<h2>Component requests in progress

<table>
  <tr>
    <th>Role
    <th>Component
  $forall (comp, role) <- drafts
    <tr>
      <td>#{show role}
      <td>^{componentLinkFedW comp}

<a href=@{ProjectInviteCompR projectHash}>Invite…
